@page "/"

<PageTitle>Index</PageTitle>


<GridRow>
    <GridCol Span="3">

        <Card Title="课程章节">

            <Tree ShowLine="true" @ref="tree" DefaultExpandAll
                  ShowIcon="false"
                  ShowLeafIcon="false"
                  DataSource="_courses"
                  OnClick="OnCourseClicked"
                  DefaultSelectedKeys=_selectedKeys
                  TitleExpression="x => x.DataItem.Title"
                  ChildrenExpression="x => x.DataItem.Items"
                  IsLeafExpression="x => x.DataItem.Items?.Count == 0"
                  KeyExpression="x => x.DataItem.Key"
                  TItem="Course">
            </Tree>
        </Card>
    </GridCol>
    <GridCol Span="9">
        <Card Bordered="true" Title="@_course.Title" Style="margin-left: 10px">
            <Button Icon="@IconType.Outline.ArrowLeft">上一节</Button>
            <Button Icon="@IconType.Outline.ArrowRight" OnClick="OnNextClicked">下一节</Button>

            <Divider Dashed/>
            <div id="xxx">
                @_course.Key:
                @((MarkupString)(Decode(_course.Text)))
            </div>
            <br/>
            <br/>
            <br/>
            <Divider Dashed/>

            <Divider Dashed/>
            <Button Icon="@IconType.Outline.ArrowLeft">上一节</Button>
            <Button Icon="@IconType.Outline.ArrowRight" OnClick="OnNextClicked">下一节</Button>

        </Card>
    </GridCol>
    <GridCol Span="12">
        <Card Bordered="true" Title="试一试" Style="margin-left: 10px">
            <iframe name="child" id="child" src="/codeshell.html" width="100%" height="auto">
            </iframe>
        </Card>
    </GridCol>
</GridRow>
